html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	display: block;
	width: 100%;
}


@font-face {
	font-family: 'OleoScriptSwashRegular';
	src: url('font/oleoss/oleoss.eot');
	src: url('font/oleoss/oleoss.eot?#iefix') format('embedded-opentype'),
		 url('font/oleoss/oleoss.woff2') format('woff2'),
		 url('font/oleoss/oleoss.woff') format('woff'),
		 url('font/oleoss/oleoss.ttf') format('truetype'),
		 url('font/oleoss/oleoss.svg#OleoScriptSwashRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
}

header, footer {
	color: #fff;
	background: #000;

	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}
header h1, footer .outro {
	font: 200px/300px OleoScriptSwashRegular;
	text-align: center;
}

nav {
	margin: 48px auto;
	overflow: hidden;
	text-align: center;
	padding: 8px 0;
}
nav li {
	font: 18pt/18pt OleoScriptSwashRegular;
	display: inline-block;
	margin: 0;
	padding: 0;
}
nav li:last-child:after,
nav li:before             { content: "."; padding: 0 12px; opacity: 0.5; }
nav a {
	color: inherit;
	display: inline-block;
	border-bottom: 1px dotted;
}


footer {
}
footer .copy {
	color: #333;
	text-align: center;
	font-size: 9pt;
	padding: 0.5em;
}


#m {
	font-size: 12pt;
	width: 40em;
	margin: 40px auto;
}
#m h2, #m h3 {
	font-family: OleoScriptSwashRegular;
	text-align: center;
}
#m h2:before, #m h2:after { content: "."; padding: 0 1ex; opacity: 0.5; }
#m h2 { font-size: 36pt; }
#m h3 { font-size: 24pt; }
#m p {
	margin: 2em 0;
	line-height: 1.6em;
	font-family: sans-serif;
}
#m pre code {
	display: block;
	white-space: pre-line;

	color: #fff;
	background-color: #333;

	font-family: monospace;
	font-size: 9pt;
	line-height: 1.1em;

	border-radius: 8px;
	margin: 16px;
	padding: 16px;
}

#m strong.logo {
	font-family: OleoScriptSwashRegular;
	font-size: 130%;
	color: darkblue;
}

@media only screen and (max-width: 800px) {
	header h1 {
		font: 120px/180px OleoScriptSwashRegular;
		text-align: center;
	}

	nav {
		margin: 8px auto;
	}

	#m h2:before, #m h2:after { content: "" }
	#m h2 { font-size: 24pt; }
	#m h3 { font-size: 24pt; }

	footer .outro {
		display: none;
	}

	#m {
		width: auto;
		padding: 0 1em;
	}
}

